.container {
    background-color: gray;
}

.question {}

.top,
.bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

}


.top {
    padding-top: 1%;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}

.bottom .right,
.top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



}

.bottom .left {}

.left {}

.bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
}

#next-button {
    display: inline-block;
    background-image: "./assets/images/next-button.jpg";
    width: 50%;
    height: 10%;
}

.top-middle {}

.top-right img {
    width: 40%;
    height: 40%;
}