.container {
    background-color: gray;
}

.question {}

.top,
.bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

}

.bottom .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



}

.left {}

.bottom {}

#next-button {
    display: inline-block;
    background-image: "./assets/images/next-button.jpg";
    width: 50%;
    height: 10%;
}