.container {
    /* insert css rule */
    background-color: gray;
}

.question {
    /* insert css rule */
}

.top,
.bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

}

.right {
    display: flex;
    flex-direction: column;

    /* insert css rule */

}

.left {
    /* insert css rule */

}

.bottom {
    /*assign to bottom div*/
    /* insert css rule */

}